.billRecord{display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 10px 0px 0px;
    padding: 0px 10px 0px 0px;
    text-align: center;
    width:170px;
    }
    ul{text-align: left;}
    #records .emptyRecords{font-size:50px;}
    @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (device-width : 414px) and (device-height : 736px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 3) and (-webkit-device-pixel-ratio : 3) {
        .billRecord {
                padding: 10px 0px 0px 10px;
                font-size: 50px;
                width:460px;
        }
    }
    @media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 3) {
        .billRecord {
                padding: 10px 0px 0px 10px;
                font-size: 50px;
                width:460px;
        }
    }